<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.animalcrossingapp">

    <application
        android:name=".controller.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--android:theme="@android:style/Theme.Dialog"-->
        <activity android:name=".view.PopActivity"
            ></activity>

        <receiver android:name=".alarm.AlarmReceiver">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            -->
        </receiver>

        <activity android:name=".view.ListActivity" />
        <activity android:name=".view.SearchActivity" />
        <activity android:name=".view.SettingActivity" />
        <activity android:name=".view.InitialActivity" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>